<div class="table-responsive">
    <table class="table">
        <tbody>
        <tr class="bg-light">
            <td colspan="2"><strong>MASTER DB</strong></td>
        </tr>
        <tr>
            <td>New labels downloaded</td>
            <td id="master-new" class="text-primary text-end">-</td>
        </tr>
        <tr>
            <td>Labels deleted</td>
            <td id="master-del" class="text-danger text-end">-</td>
        </tr>
        <tr class="bg-light">
            <td colspan="2"><strong>DEVELOPMENT DB</strong></td>
        </tr>
        <tr>
            <td>New labels uploaded</td>
            <td id="dev-new" class="text-primary text-end">-</td>
        </tr>
        <tr>
            <td>Labels deleted</td>
            <td id="dev-del" class="text-danger text-end">-</td>
        </tr>
        </tbody>
    </table>
</div>