/.run/
/.idea/
/node_modules/
/_dev/
/vendor/
/config/config.php
/config/deploy-config.php
.DS_Store

/var/
!/var/cache/.gitkeep
!/var/logs/.gitkeep
!/var/uploads/.gitkeep

/web/public/uploads/**
!/web/public/uploads/**/.gitkeep
!/web/public/uploads/profiles/**/.gitkeep
!/web/public/uploads/images/**/.gitkeep
/.sass-cache/
