{% if js.footer.files %}
    {% for file in js.footer.files %}
    <script src="{{ file }}" type="text/javascript"></script>
    {% endfor %}
{% endif %}

{% if js.footer.inline %}
    {% if js.footer.inline|length > 0 %}
    <script>
        $(function() {
            {% for inline in js.footer.inline %}
            {{ inline|raw }}
            {% endfor %}
        });
    </script>
    {% endif %}
{% endif %}

	</body>
</html>