{% import "tools.twig" as tools %}
{% import "table-helper.twig" as Helper %}

{% if filterForm and not table.isFormLoaded %}
    <div class="card mb-4 borer">
        <div class="card-header d-flex">
            <a href="#filterForm" data-bs-toggle="collapse" role="button" class="d-flex">
                <b class="card-title m-0">
                    <i class="fa-solid fa-search"></i>
                {% if filterForm.title %}
                    {{ _(filterForm.title) }}
                {% else %}
                    {{ _('LBL_FILTER') }}
                {% endif %}
                </b>
            </a>
            <div class="ms-auto d-flex justify-content-start"></div>
            <div class="card-toolbar d-flex justify-content-start">
                <a href="#filterForm" class="card-toolbar-btn{% if not filterForm.hasFilter %} collapsed{% endif %}" data-bs-toggle="collapse" role="button">
                    <i class="fa fa-chevron-down"></i>
                </a>
            </div>
        </div>
        <div id="filterForm" class="card-body collapse{% if filterForm.hasFilter %} show{% endif %}">
            {{ Helper.form(filterForm) }}
        </div>
    </div>
{% endif %}

<div class="card">
    <div class="card-body">
        {{ Helper.createTable(table) }}
    </div>
</div>
