.has-warning .form-control,
.has-error .form-control,
.has-success .form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.has-error .form-control {
  border-color: $danger !important;
}
.has-warning .form-control {
  border-color: $warning !important;
}
.has-success .form-control {
  border-color: $success !important;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error label,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: $danger;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
  color: $warning;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: $success;
}

.has-error .input-group-text {
  border-color: $danger;
}

.has-error .input-floating-label .floating-label {
  color: $danger !important;
}

.has-error .error {
  color: $danger !important;
  font-size: $font-size-sm;
  margin-bottom: 0;
}

.dropdown-menu {
  z-index: 1100 !important;
}

.cursor-pointer,
.tr-clickable {
  cursor: pointer;
}


/* ui date-picker css */
.ui-datepicker {
  background: #fff !important;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  z-index: 2000 !important;
}
.ui-widget {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
}
.ui-widget-header {
  border: 0;
  background: none !important;
  background-color: #ffffff;
  font-weight: 600;
}
.ui-widget-header select {
  font-weight: normal;
}
.ui-datepicker th {
  font-weight: 600;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}
.ui-datepicker .ui-datepicker-prev-hover {
  left: 2px;
}
.ui-datepicker .ui-datepicker-next-hover {
  right: 2px;
}

.ui-datepicker td span,
.ui-datepicker td a {
  text-align: center;
}
.ui-widget-header .ui-state-hover,
.ui-widget-header .ui-state-focus {
  border: 0;
  background: none !important;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 0;
  background: #ffffff;
  font-weight: normal;
  color: #000;
}

.ui-state-active,
.ui-widget-content .ui-state-active {
  border-radius: 4px;
  background-color: $blue;
  color: #ffffff;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 0;
  background-color: #EEEEEE;
  border-radius: 4px;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 0;
  color: #FFFFFF;
}

.ui-datepicker-today,
.ui-datepicker-today .ui-state-highlight,
.ui-datepicker-today .ui-state-default {
  color: $danger !important;
}

.ui-datepicker-today .ui-state-active {
  background-color: $blue !important;
  color: #FFFFFF;
}

.ui-datepicker-week-end,
.ui-datepicker-week-end .ui-state-default,
.ui-datepicker-week-end .ui-state-disabled {
  color: $blue;
}

/*
.bootstrap-select .dropdown-menu,
.bootstrap-autocomplete {
  border-color: $primary !important;
  border-radius: 0 0 .25rem .25rem;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}

.bootstrap-autocomplete.dropdown-menu {
  position: absolute;
}

.bootstrap-select .dropdown-toggle::after,
.bootstrap-select .dropleft .dropdown-toggle::before,
.bootstrap-select .dropright .dropdown-toggle::after,
.bootstrap-select .dropup .dropdown-toggle::after {
  display: inline-block !important;
}

.bootstrap-select .dropdown-menu li.active small {
  color: $text-muted !important;
}
*/

#confirm-delete {
  z-index: 10000;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

.hidden-edit .edit-tools  {
  display: none;
}

.hidden-edit:hover .edit-tools {
  display: inline-block;
}

// Input clearable
[data-toggle="clear"] {
  cursor: pointer;
  color: $text-muted;
}
.input-clearable {
  // hide icon
  [data-toggle="clear"] {
    display: none;
  }
  // show icon when non-empty input focused
  .form-control:not(:placeholder-shown):focus {
    + [data-toggle="clear"] {
      display: block;
    }
  }
  // show icon when container hovered and input not empty
  &:hover .form-control:not(:placeholder-shown) + [data-toggle="clear"] {
    display: block;
  }
}
label.input-clearable {
  margin-bottom: 0;
}

// Input icon
.input-icon {
  position: relative;
  display: block;
  width: 100%;
  > i,
  > svg {
    position: absolute;
    z-index: 5;
  }
  > i[class^="fa"] {
    text-align: center;
    width: 1.25em;
  }
  &.input-icon-lg {
    font-size: $input-font-size-lg;
  }
  &.input-icon-sm {
    font-size: $input-font-size-sm;
  }
}

// Input password
[data-toggle="password"] {
  cursor: pointer;
  input[type="password"] + & {
    color: $text-muted;
  }
  input[type="text"] + & {
    color: $input-color;
  }
}


// Icon top position ==============================================================================
.input-icon > svg { top: 8px }
.input-icon.input-icon-sm > svg { top: 6px }
.input-icon.input-icon-lg > svg { top: 10px }
// material icons
.input-icon > i.material-icons { top: 7px }
.input-icon.input-icon-sm > i.material-icons { top: 5px }
.input-icon.input-icon-lg > i.material-icons { top: 9px }
// fontawesome
.input-icon > i[class^="fa"] { top: 11px }
.input-icon.input-icon-sm > i[class^="fa"] { top: 9px }
.input-icon.input-icon-lg > i[class^="fa"] { top: 15px }

// Icon left position =============================================================================
.input-icon:not(.input-icon-right) > svg { left: (1/1.3321492007) * $input-padding-x }
.input-icon.input-icon-sm:not(.input-icon-right) > svg { left: (1/1.3321492007) * $input-padding-x-sm }
.input-icon.input-icon-lg:not(.input-icon-right) > svg { left: (1/1.3321492007) * $input-padding-x-lg }
// material icons
.input-icon:not(.input-icon-right) > i.material-icons { left: (2/3) * $input-padding-x }
.input-icon.input-icon-sm:not(.input-icon-right) > i.material-icons { left: (2/3) * $input-padding-x-sm }
.input-icon.input-icon-lg:not(.input-icon-right) > i.material-icons { left: (2/3) * $input-padding-x-lg }
// fontawesome
.input-icon:not(.input-icon-right) > i[class^="fa"] { left: (2/2.4) * $input-padding-x }
.input-icon.input-icon-sm:not(.input-icon-right) > i[class^="fa"] { left: (2/2.4) * $input-padding-x-sm }
.input-icon.input-icon-lg:not(.input-icon-right) > i[class^="fa"] { left: (2/2.4) * $input-padding-x-lg }

// Input padding-left =============================================================================
.input-icon:not(.input-icon-right) .form-control {
  padding-left: calc(#{$input-padding-x} + 1.5em)
}
.input-icon.input-icon-sm:not(.input-icon-right) .form-control-sm { padding-left: calc(#{$input-padding-x-sm} + 1.5em) }
.input-icon.input-icon-lg:not(.input-icon-right) .form-control-lg { padding-left: calc(#{$input-padding-x-lg} + 1.5em) }

// Icon right position
.input-icon.input-icon-right > svg { right: (1/1.3321492007) * $input-padding-x }
.input-icon.input-icon-right.input-icon-sm > svg { right: (1/1.3321492007) * $input-padding-x-sm }
.input-icon.input-icon-right.input-icon-lg > svg { right: (1/1.3321492007) * $input-padding-x-lg }
// material icons
.input-icon.input-icon-right > i.material-icons { right: (2/3) * $input-padding-x }
.input-icon.input-icon-right.input-icon-sm > i.material-icons { right: (2/3) * $input-padding-x-sm }
.input-icon.input-icon-right.input-icon-lg > i.material-icons { right: (2/3) * $input-padding-x-lg }
// fontawesome
.input-icon.input-icon-right > i[class^="fa"] { right: (2/2.4) * $input-padding-x }
.input-icon.input-icon-sm.input-icon-right > i[class^="fa"] { right: (2/2.4) * $input-padding-x-sm }
.input-icon.input-icon-lg.input-icon-right > i[class^="fa"] { right: (2/2.4) * $input-padding-x-lg }

// Input padding-right
.input-icon.input-icon-right > .form-control { padding-right: calc(#{$input-padding-x} + 1.5em) }
.input-icon.input-icon-right.input-icon-sm > .form-control-sm { padding-right: calc(#{$input-padding-x-sm} + 1.5em) }
.input-icon.input-icon-right.input-icon-lg > .form-control-lg { padding-right: calc(#{$input-padding-x-lg} + 1.5em) }

.input-approve {
  width: 0;
  visibility: collapse;
  transition: all 0.5s ease-out;
}

.input-approve.active {
  visibility: visible;
  width: 100%;
}

/* Change the white to any color */
input:autofill,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  background-color: $input-bg !important;
}

[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}